<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form>
<h1>DEATH CERTIFICATE</h1>
  <h3>Fill the death information</h3>
<nav>
  <ul>
    <a><li>Home</li></a>
    <a><li>About</li></a>
    <a><li>Contact</li></a>
  </ul>
</nav>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="FirstName" name="name">
    </div>
    <div class="col">
      <input type="name" class="form-control" placeholder="SecondName" name="name">
    </div>
    <div class="col">
      <input type="name" class="form-control" placeholder="LastName" name="name">
    </div>
  </div><br>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Date of death" name="date">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Place of death" name="place">
    </div>
  </div><br>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Name of hospital" name="name">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Time of death" name="time">
    </div>
  </div>
  <b>Gender</b><br>
  <div class="form-check">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input" value="">boy
  </label><br>
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input" value="">girl
  </label>
  </div>
  <nav>
    <ul>
      <li></li>
    </ul>
  </nav>
  </form>
</body>
</html>
