<!DOCTYPE html>
<html>
<head>

<style>

header {
  background-color:  rgb(63, 3, 68);
  padding: 20px;
  text-align: center;
  font-size: 35px;
}
nav {
  width: 25%;
  height: 1300px;
  background:   rgb(63, 3, 68);
  padding: 18px;
</style>
</head>
<body>
  <header>
  BIRTH CERTIFICATE
</header>

<form>
  <h1>Fill child information</h1>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="FirstName" name="name">
    </div>
    <div class="col">
      <input type="name" class="form-control" placeholder="SecondName" name="name">
    </div>
    <div class="col">
      <input type="name" class="form-control" placeholder="LastName" name="name">
    </div>
  </div><br>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Date of birth" name="date">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Place of birth" name="place">
    </div>
  </div><br>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Name of hospital" name="name">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Time of birth" name="time">
    </div>
  </div>
  <b>Gender</b><br>
  <div class="form-check">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input" value="">boy
  </label><br>
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input" value="">girl
  </label>
</div><hr>

<h2>Fill Mather information</h2><br>
<div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="FirstName" name="name">
    </div>
    <div class="col">
      <input type="name" class="form-control" placeholder="SecondName" name="name">
    </div>
    <div class="col">
      <input type="name" class="form-control" placeholder="LastName" name="name">
    </div>
  </div><br>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="nationality" name="name">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="occupation" name="name">
    </div>
  </div><br>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Tribe" name="name">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Apload NationalID" name="name">
    </div>
  </div><br>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Apload ZanzibarID" name="Id">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Apload birth certificate" name="name">
    </div>
  </div><br>
  <div class="col">
      <input type="text" class="form-control" placeholder="Apload marriege certificate" name="name">
    </div>
    <hr>

    <h3>Fill Father Information</h3>
    <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="FirstName" name="name">
    </div>
    <div class="col">
      <input type="name" class="form-control" placeholder="SecondName" name="name">
    </div>
    <div class="col">
      <input type="name" class="form-control" placeholder="LastName" name="name">
    </div>
  </div><br>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="nationality" name="name">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="occupation" name="name">
    </div>
  </div><br>
  <div class="row">
    <div class="col">
      <input type="name" class="form-control" placeholder="Tribe" name="name">
    </div>
    <div class="col">
      <input type="name" class="form-control" placeholder="Apload NationalID" name="name">
    </div>
  </div><br>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Apload Nationality" name="name">
    </div>
    <div class="col">
      <input type="name" class="form-control" placeholder="Apload birth certificate" name="name">
    </div>
  </div><br>
  <a routerLink="/doc"><button type="submit" class="btn btn-primary">Submit</button></a>
  <br>
<button type="submit" class="btn btn-primary">clear</button>
</form>
<section>
   <nav>
     <a routerLink="/doc"><button type="submit" class="btn btn-primary ">Registred</button></a>
      <br>
      <a routerLink="/register"><button type="submit" class="btn btn-primary">Register New</button></a>

      <br>
     <a routerLink=""> <button type="submit" class="btn btn-primary">Log out</button></a>
  </nav>
</section>
</body>
</html>



